.root{
    -fx-font-size: 13;
    -fx-background-color: dimgrey;
}
#topBarMenu{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: ghostwhite;
    -fx-background-color: dodgerblue;
}
#titleMenu{
    -fx-text-fill: ghostwhite;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#buttonPaneMenu{
    -fx-border-width: 2;
    -fx-background-color: dodgerblue;
    -fx-border-color: ghostwhite;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.button, .menu-item, .menu-button{
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-color: dodgerblue;
    -fx-border-radius: 21;
    -fx-background-radius: 20;
    -fx-background-color: ghostwhite;
    -fx-text-fill: dodgerblue;
}

.menu-button > .label{
    -fx-text-fill: dodgerblue;
}

.menu-item > .label{
    -fx-text-fill: dodgerblue;
}

.label{
    -fx-text-fill: ghostwhite;
}
.homePageCard{
    -fx-font-size: 30;
}
#homePageTitle{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.taskBox{
    -fx-border-width: 3;
    -fx-border-color: black;
}